header,
footer,
section {
  width: 100%;
  max-width: 1200px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-color-light);

  border: 1px solid var(--border-color);
  border-radius: 5px;
}

header,
footer {
  margin: 20px 0;
  color: var(--bg-color-light);
  background-color: var(--text-color);
  background-image: linear-gradient(
    75deg,
    var(--accent-color),
    var(--accent-color-light)
  );
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 560px) {
  header,
  footer {
    margin: 10px 0;
  }

  main {
    gap: 10px;
  }
}
